<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\Broker.Publish\ObiletKpanel\api.27.08</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
	  <!--<TargetFramework>netcoreapp3.0</TargetFramework>-->
	  <TargetFramework>net10.0</TargetFramework>
    <ProjectGuid>b599e153-3286-47f5-8c1c-22fb09781f6a</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>